/* *************************************************
 *      Variables
 * *************************************************/
 :root {
    --primary-color: #11315a;
    --header-font: "Oswald", sans-serif;
    --body-font: "Inter", sans-serif;
 }

/* *************************************************
 *      Common Rules
 * *************************************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    padding: .5rem;
    color: var(--primary-color);
    font-family: var(--header-font);
}

p,
label,
button {
    padding: .5rem;
    font-family: var(--body-font);
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

select{
    height: 50px;
    font-size: 1.2rem;
}

input {
    padding: .4rem;
}

button {
    height: 50px;
    font-weight: 700;
    border-radius: .5rem;
    border: 1px solid rgba(0, 0, 0, .7);
}

/* *************************************************
 *      Header Rules
 * *************************************************/
#header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem;
}

#header h1 {
    color: #fff;
}

#header a {
    color: #fff;
    font-size: 1.2rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

.active {
    text-decoration: overline;
}

/* *************************************************
 *      Footer Rules
 * *************************************************/
#footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem;
}

/* *************************************************
 *      Games View Rules
 * *************************************************/
#gamesForm {
    margin: 1rem;
    display: grid;
    gap: .5rem;
}

#gamesForm label {
    font-size: 1.2rem;
    font-weight: 700;
}

.gameCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .4);
    text-align: center;
}

.teamName {
    font-weight: 700;
}

.score {
    grid-column: 1/3;
    font-size: 1.5rem;
}

.scorePrediction {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.scorePrediction input {
    width: 50%;
}

.scorePrediction button {
    margin: 1rem;
    grid-column: 1/3;
}

/* *************************************************
 *      Larger Screen Rules
 * *************************************************/
 @media screen and (min-width: 700px) {
    main {
        max-width: 1500px;
        margin: 0 auto;
    }


    /* *************************************************
    *      Games View Rules - Large Screen
    * *************************************************/
    #games {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #gamesForm {
        display: grid;
        grid-template-columns: auto 100px 200px;
    }
 }